.container {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9bd9ee;
    background-image: url('../public/images/bg-png.png');
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  
.blog ul{
    list-style: none;
    padding: 0 20px;
}

.blog ul img{
    max-width: 100%;
}